@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    background: #f2f2f2;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;   
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #134D00;
    color: #f2f2f2;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 30px;
}

.navbar a {
    color: #f2f2f2;
    padding: 10px 20px;
    margin: 0 5px;

}

.navbar ul {
    display: flex;
}