/* Text Colors */
.primary-text {
    color: #24BF19;
}

.secondary-text {
    color: #721FDE;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #f2f2f2;
    background: #24BF19;
    border: none;
    border-radius: 6px  ;
}

.btn:hover {
    opacity: 0.8;
}

.btn-secondary {
    background: #721FDE;
    color: #f2f2f2;
}

.btn-dark {
    background: #0B2600;
    color: #f2f2f2;
}

.btn-light {
    background: #F2FFF4;
    color: #0B2600;
}