@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;800;900&display=swap');

/* Text Colors */
.primary-text {
    color: #24BF19;
}

.secondary-text {
    color: #721FDE;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #f2f2f2;
    background: #24BF19;
    border: none;
    border-radius: 6px  ;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary, .bg-primary {
    color: #f2f2f2;
    background: #24BF19; 
}

.btn-secondarny, .bg-secondary {
    background: #721FDE;
    color: #f2f2f2;
}

.btn-dark, .bg-dark {
    background: #0B2600;
    color: #f2f2f2;
}

.btn-light, .bg-light {
    background: #F2FFF4;
    color: #0B2600;
}

.btn-outline {
    background: transparent;
    border: 1px solid #BDFEC4;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #BDFEC4;
    border-radius: 15px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #164604;
    border-radius: 15px;
  }

  /* Flex Items */
  .flex-items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    justify-content: space-between;
  }

  .flex-items > div {
    padding: 20px;
  }

/* Flex Columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}